@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5c684d;
  --foreground: #171717;
  --title: #f5df99;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2{
  font-size: 3rem;
  font-weight: bold;
  color: var(--title);
}


.imagen{ 
  height: 400px !important;
}